.App{
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    &__container{
        position: relative;

        width: clamp(380px, 40%, 400px);
        padding: 40px;
        border-radius: 10px;
        
        color: var(--blueWhite);
        backdrop-filter: blur(10px);
        background-color: var(--blackBlur);
    }

}