<div class="Login">

    <h2>Вход в аккаунт</h2>

    <form (submit)="onSubmit($event)">
        <app-input-auth 
            class="Login__input"
            [(valueInp)]="email" 
            [type]="'email'" 
            [placeHolder]="'Z3l3nSKY@gmail.com'"
            [name]="'email'"
            [id]="'emailAuth'"
        >Эл. почта</app-input-auth>
        <app-input-auth 
            class="Login__input"
            [(valueInp)]="password" 
            [type]="'password'" 
            [placeHolder]="'******'"
            [name]="'password'"
            [id]="'passwordAuth'"
        >Пароль</app-input-auth>
        <app-button-auth class="button">
            <img src="../../../../../assets/images/btnSvgs/login.svg" alt="login.svg">
            Войти
        </app-button-auth>
    </form>

    <ul>
        <li><a [routerLink]="['/register']">Регистрация</a></li>
        <li><a [routerLink]="['/forgetpassword']">Забыли пароль?</a></li>
    </ul>
    

</div>
