:root{
    --blackBlur: rgba(7,11,24,.5);
    --blueBlur: rgba(150,173,255,.5);
    --blueWhite: #EEEEFF;
    --white: #FFFFFF;
    --blueBlack: #1D283A;
    --backBlack: #030711;
    --accent: #1D283A;
    --blueLightOp: rgba(150,173,255,0.1);
    --blueLight: rgba(150,173,255,1);
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
}

input{
    outline: 0;
}
button{
    border: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #EEEEFF;
}

body{
    width: 100%;
    height: 100vh;

    background: url(../assets/images/Desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 100%;
}

.Auth{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
}

.Rooms{
    height: 100%;
    flex-grow: 1;
}

.App{
    overflow: hidden;
    height: 100vh;
}

