.ErrorBox{
    visibility: hidden;
    opacity: 0;

    position: fixed;
    z-index: 5;
    top: 10%;
    left: 40%;
    right: 40%;

    min-width: 180px;

    background-color: var(--accent);
    backdrop-filter: blur(10px);
    color: var(--red);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    border-bottom: 3px solid var(--red);

    transition: .3s all;

    &.active{
        opacity: 1;
    }
}