.input{
    padding: 5px;
    border: 1px solid var(--blueBlack);
    border-radius: 6px;
    background-color: var(--backBlack);
    color: var(--white);
    width: clamp(100px, 100%, 180px);

    &__label{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;

        span{
            font-weight: 500;
            font-size: 14px;
            line-height: 100%;
            text-align: right;
        }
    }
}