
<ng-container *ngIf="id === 'addroom'; else notVisible">
    <app-create-room></app-create-room>
</ng-container>

<ng-template #notVisible>
    <div class="Room">
        <div class="Room__mainRow">
            <p>{{ id }}</p>
            <div class="Room__btns">
                <img (click)="openModalAddFile()" src="../../../../../assets/images/btnSvgs/archive-restore.svg" class="Room__settings">
                <img (click)="openModalSettings()" src="../../../../../assets/images/btnSvgs/setting.svg" class="Room__settings">
            </div>
        </div>
        <div class="Room__container">
            <div class="Room__file" *ngFor="let item of files">

                <div class="Room__fileImage"
                    [style.background-image]="'url('+ images.get(item.format) || '' +')'"
                ></div>

                <p>{{item.name}}</p>
                <div class="Room__fileTags">
                    <div>
                        <p>Скач.: {{item.downloads}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-modal-window (openModal)="modalSettings($event)" [isModalOpen]="modalSetting">
        <div *ngIf="typeModal === 'settings';">
            Hello
        </div>
        <app-file-receiver *ngIf="typeModal === 'addFile';" [roomId]="id"></app-file-receiver>
    </app-modal-window>
</ng-template>

