
<ng-container *ngIf="id === 'addroom'; else notVisible">
    <app-create-room></app-create-room>
</ng-container>

<ng-template #notVisible>
    <div class="Room">
        <div class="Room__mainRow">
            <p>{{ name }}</p>
            <div class="Room__btns">
                <img (click)="getFiles()" src="../../../../../assets/images/btnSvgs/refresh-svgrepo-com.svg" alt="Room__settings">
                <img *ngIf="role == '2' || role == '1'" (click)="openModalAddFile()" src="../../../../../assets/images/btnSvgs/archive-restore.svg" class="Room__addFiles">
                <img (click)="openModalSettings()" src="../../../../../assets/images/btnSvgs/setting.svg" class="Room__settings">
            </div>
        </div>
        <div *ngIf="isLoading" class="Room__loading">
            <p>Loading...</p>
        </div>
        <div class="Room__empty" *ngIf="!isLoading && files.length === 0">
            <p>Empty</p>
        </div>
        <div class="Room__container" *ngIf="!isLoading || files.length !== 0">
            <div class="Room__file" *ngFor="let item of files" (click)="downloadFile(item.id)">

                <div class="Room__fileImage"
                    [style.background-image]="'url('+ getURLformat(item.format) || '' +')'"
                ></div>

                <p>{{item.name}}</p>
                <div class="Room__fileTags">
                    <div>
                        <p>Скач.: {{item.downloads}}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <app-modal-window (openModal)="modalSettings($event)" [isModalOpen]="modalSetting" class="Modal">

        <div *ngIf="typeModal === 'sure';" class="Modal__sure">
            <p>Вы уверены?</p>
            <div class="Room__flex">
                <button (click)="backSettingModal()">Нет</button>
                <button class="redBtn" (click)="onDelRoom()">Да</button>
            </div>
        </div>
        
        <app-file-receiver *ngIf="typeModal === 'addFile';" [roomId]="id"></app-file-receiver>

        <div *ngIf="typeModal === 'settings';" class="Room__modalSettings">
            <button *ngIf="role == '2' || role == '1'" (click)="ModalAddUser()">Добавить пользователя</button>
            <button (click)="ModalUsers()" *ngIf="role == '2'">Все пользователи</button>
            <button *ngIf="role == '0' || role == '1'" class="redBtn" (click)="leaveRoom()">Покинуть комнату</button>
            <button *ngIf="role == '2'" class="redBtn" (click)="ModalSure()">Удалить комнату</button>
        </div>

        <div *ngIf="typeModal === 'addUser';">
            <p>Добавить пользователя: </p>
            <form (submit)="onAddUser($event)" class="Modal__addUser">
                <app-input-auth
                    type="email"
                    [name]="'email'"
                    [id]="'emailAdd'"
                    [(valueInp)]="email"
                >Почта: </app-input-auth>
                <app-button-auth>Добавить</app-button-auth>
            </form>
        </div>

        <div *ngIf="typeModal === 'users';" class="Modal__allUsers">
            <p *ngIf="users.length > 0">Пользователи</p>
            <p *ngIf="users.length === 0">Пользователей нет</p>
            <div class="Modal__allUsers">
                <div *ngFor="let user of users" class="Modal__userBox">
                    <p>{{user.userName}}</p>
                    <div class="Modal__btnDel" (click)="onDelUser(user.id)">Del</div>
                </div>
            </div>
        </div>

    </app-modal-window>
</ng-template>

