.Search{
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__input{
        width: 100%;
        height: fit-content;
        display: flex;
    }
    input{
        // text-align: center;
        padding: 11px;
        flex: 1 1 auto;
        width: 0px;
        border-radius: 10px;

        background-color: var(--blueLightOp);
        border: 2px solid var(--blueLightOp);
        color: var(--blueLight);

        &::placeholder{
            color: var(--blueBlur);
            padding-left: 25px;

            background-image: url(../../../assets/images/btnSvgs/search.svg);
            background-repeat: no-repeat;
            background-position: 0px;
        }

        &::-webkit-search-decoration,
        &::-webkit-search-cancel-button,
        &::-webkit-search-results-button,
        &::-webkit-search-results-decoration {
          display: none;
        }
        
    }

    &__rooms{
        padding-right: 3px;
        color: var(--blueWhite);

        display: flex;
        flex-direction: column;
        gap: 10px;

        width: 100%;
        height: 100%;

        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 3px;
        }
        
        &::-webkit-scrollbar-thumb {
            background-color: var(--blackBlur);
            border-radius: 5px;
        }
        
        &::-webkit-scrollbar-track {
            background-color: var(--blueBlack);
        }
    }
    &__room{
        cursor: pointer;
        background-color: #111625;
        border-radius: 10px;
        padding: 11px 20px;

        transition: .3s all;
        &:hover{
            background-color: #11162567;
        }
    }




}